<a href="https://colab.research.google.com/github/aguilargallardo/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Copy_of_LS_DS_124_Make_features_SOLUTION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Make features

Objectives
-  understand the purpose of feature engineering
-  work with strings in pandas
- work with dates and times in pandas

Links
- [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
- Python Data Science Handbook
  - [Chapter 3.10](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html), Vectorized String Operations
  - [Chapter 3.11](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), Working with Time Series

# I MADE A CHANGE

## Get LendingClub data

[Source](https://www.lendingclub.com/info/download-data.action)

In [0]:
!wget https://resources.lendingclub.com/LoanStats_2018Q3.csv.zip

--2019-10-31 22:36:26--  https://resources.lendingclub.com/LoanStats_2018Q3.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q3.csv.zip’

LoanStats_2018Q3.cs     [                <=> ]  21.77M   430KB/s    in 53s

2019-10-31 22:37:25 (422 KB/s) - ‘LoanStats_2018Q3.csv.zip’ saved [22830423]

In [0]:
!unzip LoanStats_2018Q3.csv.zip

Archive:  LoanStats_2018Q3.csv.zip
  inflating: LoanStats_2018Q3.csv

In [0]:
!head LoanStats_2018Q3.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","11200","11200","11200"," 36 months","  7.84%","350.15","A","A4","UB APPLICATION SUPPORT ANALYST","8 years","MORTGAGE","68000","Not Verified","Sep-2018","Current","n","","","debt_consolidation","Debt consolidation","553xx","MN","14.23","0","Dec-2006","0","28","","15","0","7776","17.6%","27","w","8051.75","8051.75","3871.16","3871.16","3148.25","722.91","0.0","0.0","0.0","Sep-2019","350.15","Oct-2019","Sep-2019","0","32","1","Individual","","","","0","0","265807","1","2","2","3","7","19949","94","1","2","2929","43","44100","2","0","3","6","17720","22720","18","0","0","100","133","3","3","3","3","","1","","0","2","6","3","5","8","12","16","6","15","0","0","0","3","92.6","0","0","0","307464","27725","27700","21199","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","9600","9600","9600"," 36 months","  7.84%","300.13","A","A4","Branch manager ","3 years","MORTGAGE","90000","Not Verified","Sep-2018","Current","n","","","credit_card","Credit card refinancing","540xx","WI","25.59","1","Sep-2004","2","18","","22","0","12468","10.8%","37","w","6646.45","6646.45","3593.2","3593.20","2953.55","639.65","0.0","0.0","0.0","Sep-2019","300.13","Oct-2019","Sep-2019","0","","1","Individual","","","","0","0","257106","3","6","2","4","8","34587","66","3","3","4458","28","115800","4","0","3","7","11687","89673","10.2","0","0","168","136","1","1","1","1","","1","","0","6","8","9","14","14","15","22","8","22","0","0","0","5","97.3","0","0","0","393694","47055","99900","52459","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","9000","9000","9000"," 36 months"," 15.02%","312.08","C","C3","buyer","10+ years","MORTGAGE","90000","Source Verified","Sep-2018","Current","n","","","other","Other","018xx","MA","10.81","0","Jul-2010","1","","","7","0","28814","65.5%","8","w","6435.02","6435.02","3729.94","3729.94","2564.98","1164.96","0.0","0.0","0.0","Sep-2019","312.08","Oct-2019","Sep-2019","0","","1","Individual","","","","0","0","266673","1","0","0","0","","0","","1","3","18239","66","44000","0","0","3","4","38096","13249","66.9","0","0","","98","4","4","1","21","","4","","0","2","4","3","3","0","6","7","4","7","0","0","0","2","100","66.7","0","0","284200","28814","40000","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","29000","29000","29000"," 36 months"," 10.08%","936.84","B","B1","Attorney","9 years","RENT","123000","Not Verified","Sep-2018","Current","n","","","credit_card","Credit card refinancing","191xx","PA","27.73","0","May-2006","0","","","12","0","50905","79%","26","w","20285.82","20285.82","11209.6","11209.60","8714.18","2495.42","0.0","0.0","0.0","Sep-2019","936.84","Oct-2019","Sep-2019","0","","1","Individual","","","","0","0","202928","0","2","0","0","25","152023","37","0","0","20610","72","64400","0","0","0","0","22548","3213","93","0","0","121","148","45","25","0","81","","","","0","4","7","5","6","11","10","15","7","12","0","0","0","0","100","100","0","0","189145","202928","46100","124745","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","15000","15000","15000"," 36 months","  8.46%","473.24","A","A5","","< 1 year","RENT","144898","Not Verified","Sep-2018","Fully Paid","n","","","debt_consolidation","Debt consolidation","077xx","NJ","11.71","0","Aug-1999","0","60","","9","0","669","4.3%","38","w","0.00","0.00","15428.2167643691","15428.22","15000.00","428.22","0.0","0.0","0.0","Jan-2019","14022.6","","Sep-2019","0","","1","Individual","","","","0","0","65307","1","4","1","3","2","62691","63","0","1","200","53","15700","1","2","0","4","7256","7000","2.8","0","0","229","201","23","2","2","23","60","17","60","0","1","2","1","7","15","4","20","2","9","0","0","0","1","92.1","0","0","0","141168","65307","7200","120000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","20000","20000","20000"," 60 months"," 12.73%","452.31","B","B5","Child Protective Specialist","10+ years","RENT","69000","Source Verified","Sep-2018","Current","n","","","debt_consolidation","Debt consolidation","111xx","NY","23.81","0","Dec-2002","1","","","15","0","13251","18.7%","27","w","16944.05","16944.05","5399.43","5399.43","3055.95","2343.48","0.0","0.0","0.0","Sep-2019","452.31","Oct-2019","Sep-2019","0","","1","Individual","","","","0","0","56321","0","8","1","3","10","43070","73","0","1","13187","43","71000","1","1","2","4","3755","56449","19","0","0","140","189","13","10","0","13","","1","","0","2","2","6","10","13","7","14","2","15","0","0","0","1","100","16.7","0","0","130321","56321","69700","59321","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","29000","29000","29000"," 36 months"," 11.55%","957","B","B4","Sales Manager","8 years","MORTGAGE","110000","Source Verified","Sep-2018","Current","n","","","debt_consolidation","Debt consolidation","462xx","IN","17.9","1","Dec-1994","2","14","","13","0","49387","59.2%","35","w","20420.76","20420.76","11446.78","11446.78","8579.24","2867.54","0.0","0.0","0.0","Sep-2019","957.0","Oct-2019","Sep-2019","0","14","1","Individual","","","","0","0","334446","2","3","0","0","27","16945","66","2","2","22866","61","83400","0","1","2","4","25727","18384","71.2","0","0","217","285","2","2","6","2","","2","","1","3","4","5","9","16","9","13","4","13","0","0","1","2","97.1","40","0","0","417298","66332","63900","60327","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","5500","5500","5500"," 36 months","  6.67%","169","A","A2","Interpreter","6 years","RENT","59000","Source Verified","Sep-2018","Fully Paid","n","","","debt_consolidation","Debt consolidation","454xx","OH","12.45","0","Apr-1988","0","52","","13","0","4355","17.3%","59","w","0.00","0.00","5575.9240472692","5575.92","5500.00","75.92","0.0","0.0","0.0","Dec-2018","25.01","","Jun-2019","0","","1","Individual","","","","0","0","40893","3","2","2","5","4","36538","97","2","6","609","65","25200","3","5","5","11","3408","2391","20.3","0","0","150","365","2","2","1","80","","5","52","0","1","6","1","12","12","10","45","6","13","0","0","0","4","100","0","0","0","62961","40893","3000","37761","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""

In [0]:
!tail LoanStats_2018Q3.csv

"","","5000","5000","5000"," 36 months"," 16.46%","176.93","C","C5","Labor Worker","3 years","MORTGAGE","57000","Not Verified","Jul-2018","Current","n","","","debt_consolidation","Debt consolidation","781xx","TX","33.09","0","Jul-2008","0","25","","11","0","7449","41.4%","47","w","3340.20","3340.20","2467.88","2467.88","1659.80","808.08","0.0","0.0","0.0","Sep-2019","176.93","Oct-2019","Sep-2019","0","","1","Individual","","","","0","236","45088","1","5","3","4","7","37639","58","1","2","0","54","18000","3","10","1","6","4099","","","0","0","119","80","1","1","0","","","8","25","0","0","4","0","1","39","6","8","4","11","0","0","0","4","93.6","","0","0","83496","45088","0","65496","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","12000","12000","12000"," 36 months"," 14.03%","410.31","C","C2","Medical Support Staff","10+ years","OWN","53414","Source Verified","Jul-2018","Current","n","","","home_improvement","Home improvement","136xx","NY","25.68","0","Mar-1997","0","","","8","0","6527","44.4%","20","w","7918.71","7918.71","5730.31","5730.31","4081.29","1649.02","0.0","0.0","0.0","Sep-2019","410.31","Oct-2019","Sep-2019","0","","1","Individual","","","","0","0","29869","0","2","0","2","13","23342","73","0","0","3977","64","14700","1","1","0","2","3734","7173","47.6","0","0","139","255","42","13","0","66","","18","","0","2","2","5","9","8","6","12","2","8","0","0","0","0","100","40","0","0","46792","29869","13700","32092","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","5000","5000","5000"," 36 months","  6.19%","152.55","A","A2","Host/cashier","4 years","RENT","22000","Not Verified","Jul-2018","Current","n","","","credit_card","Credit card refinancing","731xx","OK","11.67","0","Apr-2001","0","","","6","0","7118","23.3%","19","w","3164.64","3164.64","2132.26","2132.26","1835.36","296.90","0.0","0.0","0.0","Sep-2019","152.55","Oct-2019","Sep-2019","0","","1","Individual","","","","0","0","7118","1","0","0","0","127","0","","1","1","3841","23","30500","1","0","0","1","1186","23382","23.3","0","0","168","206","3","3","0","3","","17","","0","3","3","6","10","4","6","15","3","6","0","0","0","1","100","0","0","0","30500","7118","30500","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 11.05%","327.63","B","B4","Operator","5 years","RENT","60000","Not Verified","Jul-2018","Fully Paid","n","","","credit_card","Credit card refinancing","952xx","CA","10.72","0","Apr-2015","0","27","","8","0","2301","28.1%","12","w","0.00","0.00","10761.5354030672","10761.54","10000.00","761.54","0.0","0.0","0.0","Apr-2019","8149.71","","Apr-2019","0","27","1","Individual","","","","0","0","9572","0","2","1","1","12","7271","60","3","4","1624","47","8200","0","0","1","5","1197","3099","42.6","0","0","34","38","9","9","0","11","","9","","1","3","3","5","6","3","6","8","3","8","0","0","0","4","100","20","0","0","20377","9572","5400","12177","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","20000","20000","20000"," 36 months"," 15.49%","698.12","C","C4","Client manager","10+ years","MORTGAGE","80000","Verified","Jul-2018","Fully Paid","n","","","debt_consolidation","Debt consolidation","913xx","CA","22.14","0","Apr-1994","0","43","","27","0","28994","63%","47","w","0.00","0.00","22361.874490153","22361.87","20000.00","2361.87","0.0","0.0","0.0","May-2019","16113.21","","Sep-2019","0","43","1","Individual","","","","0","0","314886","0","1","0","0","37","15336","61","1","9","5067","64","46000","1","6","0","10","11662","3359","83.8","0","0","129","186","10","10","3","10","43","13","43","3","8","22","8","15","6","24","36","22","27","0","0","0","1","93.6","75","0","0","349879","47229","20700","25295","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","4000","4000","4000"," 36 months"," 16.46%","141.54","C","C5","jewelry","5 years","RENT","9600","Source Verified","Jul-2018","Current","n","","","debt_consolidation","Debt consolidation","925xx","CA","14.5","1","Nov-2014","0","15","","5","0","3545","45.4%","5","w","2676.22","2676.22","1974.24","1974.24","1323.78","650.46","0.0","0.0","0.0","Sep-2019","141.54","Oct-2019","Sep-2019","0","","1","Individual","","","","0","0","3545","1","0","0","0","","0","","1","2","1515","45","7800","0","0","0","2","709","285","84.2","0","0","","43","1","1","0","33","","","15","0","1","3","1","1","0","5","5","3","5","0","0","0","1","80","100","0","0","7800","3545","1800","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""


Total amount funded in policy code 1: 2063142975
Total amount funded in policy code 2: 823319310

## Load LendingClub data

pandas documentation
- [`read_csv`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)
- [`options.display`](https://pandas.pydata.org/pandas-docs/stable/options.html#available-options)

In [0]:
import pandas as pd

df = pd.read_csv('LoanStats_2018Q3.csv', skiprows=1, skipfooter=2)

df.shape

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

(128194, 144)

In [0]:
pd.options.display.max_columns = 500
pd.options.display.max_rows = 500
df.head().T

,0,1,2,3,4
id,NaN,NaN,NaN,NaN,NaN
member_id,NaN,NaN,NaN,NaN,NaN
loan_amnt,11200,9600,9000,29000,15000
funded_amnt,11200,9600,9000,29000,15000
funded_amnt_inv,11200,9600,9000,29000,15000
term,36 months,36 months,36 months,36 months,36 months
int_rate,7.84%,7.84%,15.02%,10.08%,8.46%
installment,350.15,300.13,312.08,936.84,473.24
grade,A,A,C,B,A
sub_grade,A4,A4,C3,B1,A5
emp_title,UB APPLICATION SUPPORT ANALYST,Branch manager,buyer,Attorney,NaN
emp_length,8 years,3 years,10+ years,9 years,< 1 year
home_ownership,MORTGAGE,MORTGAGE,MORTGAGE,RENT,RENT
annual_inc,68000,90000,90000,123000,144898
verification_status,Not Verified,Not Verified,Source Verified,Not Verified,Not Verified
issue_d,Sep-2018,Sep-2018,Sep-2018,Sep-2018,Sep-2018
loan_status,Current,Current,Current,Current,Fully Paid
pymnt_plan,n,n,n,n,n
url,NaN,NaN,NaN,NaN,NaN
desc,NaN,NaN,NaN,NaN,NaN
purpose,debt_consolidation,credit_card,other,credit_card,debt_consolidation
title,Debt consolidation,Credit card refinancing,Other,Credit card refinancing,Debt consolidation
zip_code,553xx,540xx,018xx,191xx,077xx
addr_state,MN,WI,MA,PA,NJ
dti,14.23,25.59,10.81,27.73,11.71
delinq_2yrs,0,1,0,0,0
earliest_cr_line,Dec-2006,Sep-2004,Jul-2010,May-2006,Aug-1999
inq_last_6mths,0,2,1,0,0
mths_since_last_delinq,28,18,NaN,NaN,60
mths_since_last_record,NaN,NaN,NaN,NaN,NaN
open_acc,15,22,7,12,9
pub_rec,0,0,0,0,0
revol_bal,7776,12468,28814,50905,669
revol_util,17.6%,10.8%,65.5%,79%,4.3%
total_acc,27,37,8,26,38
initial_list_status,w,w,w,w,w
out_prncp,8051.75,6646.45,6435.02,20285.8,0
out_prncp_inv,8051.75,6646.45,6435.02,20285.8,0
total_pymnt,3871.16,3593.2,3729.94,11209.6,15428.2
total_pymnt_inv,3871.16,3593.2,3729.94,11209.6,15428.2
total_rec_prncp,3148.25,2953.55,2564.98,8714.18,15000
total_rec_int,722.91,639.65,1164.96,2495.42,428.22
total_rec_late_fee,0,0,0,0,0
recoveries,0,0,0,0,0
collection_recovery_fee,0,0,0,0,0
last_pymnt_d,Sep-2019,Sep-2019,Sep-2019,Sep-2019,Jan-2019
last_pymnt_amnt,350.15,300.13,312.08,936.84,14022.6
next_pymnt_d,Oct-2019,Oct-2019,Oct-2019,Oct-2019,NaN
last_credit_pull_d,Sep-2019,Sep-2019,Sep-2019,Sep-2019,Sep-2019
collections_12_mths_ex_med,0,0,0,0,0
mths_since_last_major_derog,32,NaN,NaN,NaN,NaN
policy_code,1,1,1,1,1
application_type,Individual,Individual,Individual,Individual,Individual
annual_inc_joint,NaN,NaN,NaN,NaN,NaN
dti_joint,NaN,NaN,NaN,NaN,NaN
verification_status_joint,NaN,NaN,NaN,NaN,NaN
acc_now_delinq,0,0,0,0,0
tot_coll_amt,0,0,0,0,0
tot_cur_bal,265807,257106,266673,202928,65307
open_acc_6m,1,3,1,0,1
open_act_il,2,6,0,2,4
open_il_12m,2,2,0,0,1
open_il_24m,3,4,0,0,3
mths_since_rcnt_il,7,8,NaN,25,2
total_bal_il,19949,34587,0,152023,62691
il_util,94,66,NaN,37,63
open_rv_12m,1,3,1,0,0
open_rv_24m,2,3,3,0,1
max_bal_bc,2929,4458,18239,20610,200
all_util,43,28,66,72,53
total_rev_hi_lim,44100,115800,44000,64400,15700
inq_fi,2,4,0,0,1
total_cu_tl,0,0,0,0,2
inq_last_12m,3,3,3,0,0
acc_open_past_24mths,6,7,4,0,4
avg_cur_bal,17720,11687,38096,22548,7256
bc_open_to_buy,22720,89673,13249,3213,7000
bc_util,18,10.2,66.9,93,2.8
chargeoff_within_12_mths,0,0,0,0,0
delinq_amnt,0,0,0,0,0
mo_sin_old_il_acct,100,168,NaN,121,229
mo_sin_old_rev_tl_op,133,136,98,148,201
mo_sin_rcnt_rev_tl_op,3,1,4,45,23
mo_sin_rcnt_tl,3,1,4,25,2
mort_acc,3,1,1,0,2
mths_since_recent_bc,3,1,21,81,23
mths_since_recent_bc_dlq,NaN,NaN,NaN,NaN,60
mths_since_recent_inq,1,1,4,NaN,17
mths_since_recent_revol_delinq,NaN,NaN,NaN,NaN,60
num_accts_ever_120_pd,0,0,0,0,0
num_actv_bc_tl,2,6,2,4,1
num_actv_rev_tl,6,8,4,7,2
num_bc_sats,3,9,3,5,1
num_bc_tl,5,14,3,6,7
num_il_tl,8,14,0,11,15
num_op_rev_tl,12,15,6,10,4
num_rev_accts,16,22,7,15,20
num_rev_tl_bal_gt_0,6,8,4,7,2
num_sats,15,22,7,12,9
num_tl_120dpd_2m,0,0,0,0,0
num_tl_30dpd,0,0,0,0,0
num_tl_90g_dpd_24m,0,0,0,0,0
num_tl_op_past_12m,3,5,2,0,1
pct_tl_nvr_dlq,92.6,97.3,100,100,92.1
percent_bc_gt_75,0,0,66.7,100,0
pub_rec_bankruptcies,0,0,0,0,0
tax_liens,0,0,0,0,0
tot_hi_cred_lim,307464,393694,284200,189145,141168
total_bal_ex_mort,27725,47055,28814,202928,65307
total_bc_limit,27700,99900,40000,46100,7200
total_il_high_credit_limit,21199,52459,0,124745,120000
revol_bal_joint,NaN,NaN,NaN,NaN,NaN
sec_app_earliest_cr_line,NaN,NaN,NaN,NaN,NaN
sec_app_inq_last_6mths,NaN,NaN,NaN,NaN,NaN
sec_app_mort_acc,NaN,NaN,NaN,NaN,NaN
sec_app_open_acc,NaN,NaN,NaN,NaN,NaN
sec_app_revol_util,NaN,NaN,NaN,NaN,NaN
sec_app_open_act_il,NaN,NaN,NaN,NaN,NaN
sec_app_num_rev_accts,NaN,NaN,NaN,NaN,NaN
sec_app_chargeoff_within_12_mths,NaN,NaN,NaN,NaN,NaN
sec_app_collections_12_mths_ex_med,NaN,NaN,NaN,NaN,NaN
sec_app_mths_since_last_major_derog,NaN,NaN,NaN,NaN,NaN
hardship_flag,N,N,N,N,N
hardship_type,NaN,NaN,NaN,NaN,NaN
hardship_reason,NaN,NaN,NaN,NaN,NaN
hardship_status,NaN,NaN,NaN,NaN,NaN
deferral_term,NaN,NaN,NaN,NaN,NaN
hardship_amount,NaN,NaN,NaN,NaN,NaN
hardship_start_date,NaN,NaN,NaN,NaN,NaN
hardship_end_date,NaN,NaN,NaN,NaN,NaN
payment_plan_start_date,NaN,NaN,NaN,NaN,NaN
hardship_length,NaN,NaN,NaN,NaN,NaN
hardship_dpd,NaN,NaN,NaN,NaN,NaN
hardship_loan_status,NaN,NaN,NaN,NaN,NaN
orig_projected_additional_accrued_interest,NaN,NaN,NaN,NaN,NaN
hardship_payoff_balance_amount,NaN,NaN,NaN,NaN,NaN
hardship_last_payment_amount,NaN,NaN,NaN,NaN,NaN
debt_settlement_flag,N,N,N,N,N
debt_settlement_flag_date,NaN,NaN,NaN,NaN,NaN
settlement_status,NaN,NaN,NaN,NaN,NaN
settlement_date,NaN,NaN,NaN,NaN,NaN
settlement_amount,NaN,NaN,NaN,NaN,NaN
settlement_percentage,NaN,NaN,NaN,NaN,NaN
settlement_term,NaN,NaN,NaN,NaN,NaN

## Work with strings

For machine learning, we usually want to replace strings with numbers

We can get info about which columns have a datatype of "object" (strings)

In [0]:
df.select_dtypes('object').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128194 entries, 0 to 128193
Data columns (total 37 columns):
term                         128194 non-null object
int_rate                     128194 non-null object
grade                        128194 non-null object
sub_grade                    128194 non-null object
emp_title                    114757 non-null object
emp_length                   117807 non-null object
home_ownership               128194 non-null object
verification_status          128194 non-null object
issue_d                      128194 non-null object
loan_status                  128194 non-null object
pymnt_plan                   128194 non-null object
purpose                      128194 non-null object
title                        128194 non-null object
zip_code                     128194 non-null object
addr_state                   128194 non-null object
earliest_cr_line             128194 non-null object
revol_util                   128065 non-null object
initial_list_status          128194 non-null object
last_pymnt_d                 128048 non-null object
next_pymnt_d                 123298 non-null object
last_credit_pull_d           128190 non-null object
application_type             128194 non-null object
verification_status_joint    15729 non-null object
sec_app_earliest_cr_line     17785 non-null object
hardship_flag                128194 non-null object
hardship_type                13 non-null object
hardship_reason              13 non-null object
hardship_status              13 non-null object
hardship_start_date          13 non-null object
hardship_end_date            13 non-null object
payment_plan_start_date      13 non-null object
hardship_loan_status         13 non-null object
disbursement_method          128194 non-null object
debt_settlement_flag         128194 non-null object
debt_settlement_flag_date    5 non-null object
settlement_status            5 non-null object
settlement_date              5 non-null object
dtypes: object(37)
memory usage: 36.2+ MB

### Convert `int_rate`

Define a function to remove percent signs from strings and convert to floats

In [0]:
string='17.97%'

def remove_percent(string):
    return float(string.strip('%'))

remove_percent(string)

17.97

Apply the function to the `int_rate` column

In [0]:
df['int_rate'] = df['int_rate'].apply(remove_percent)

In [0]:
df['int_rate'].head()

0    17.97
1    13.56
2    18.94
3     7.84
4     7.84
Name: int_rate, dtype: float64

### Clean `emp_title`

Look at top 20 titles

In [0]:
df['emp_title'].value_counts().head(20)

Teacher               2294
Manager               2075
Owner                 1231
Driver                1089
Registered Nurse       944
Supervisor             810
RN                     757
Sales                  726
Project Manager        637
General Manager        548
Office Manager         542
Director               482
owner                  398
Engineer               383
Truck Driver           367
Operations Manager     366
President              350
Sales Manager          323
Supervisor             321
Server                 319
Name: emp_title, dtype: int64

How often is `emp_title` null?

In [0]:
df['emp_title'].isnull().sum()

13437

Clean the title and handle missing values

In [0]:
examples = ['owner', 'Supervisor ', 
            ' Project manager', np.nan]

def clean_title(x):
    if isinstance(x, str):        
        return x.strip().title()
    else:
        return 'Unknown'

for example in examples:
    print(clean_title(example))

Owner
Supervisor
Project Manager
Unknown

In [0]:
df['emp_title'] = df['emp_title'].apply(clean_title)

In [0]:
df['emp_title'].value_counts().head(20)

Unknown                     13437
Teacher                      2843
Manager                      2749
Owner                        1856
Driver                       1498
Registered Nurse             1386
Supervisor                   1345
Sales                         980
Truck Driver                  921
Rn                            905
Office Manager                846
Project Manager               835
General Manager               809
Director                      585
Operations Manager            516
Sales Manager                 510
Engineer                      474
Store Manager                 466
Administrative Assistant      466
President                     464
Name: emp_title, dtype: int64

### Create `emp_title_manager`

pandas documentation: [`str.contains`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.contains.html)

In [0]:
# Boolean column, True if `emp_title` contains 'Manager',
# otherwise False

In [0]:
df['emp_title_manager'] = df['emp_title'].str.contains('Manager')

In [0]:
df['emp_title_manager'].value_counts()

False    109498
True      18696
Name: emp_title_manager, dtype: int64

## Work with dates

pandas documentation
- [to_datetime](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)
- [Time/Date Components](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components) "You can access these properties via the `.dt` accessor"

In [0]:
df['issue_d'] = pd.to_datetime(df['issue_d'], 
                               infer_datetime_format=True)

In [0]:
df['issue_d'].describe()

count                  128194
unique                      3
top       2018-08-01 00:00:00
freq                    46079
first     2018-07-01 00:00:00
last      2018-09-01 00:00:00
Name: issue_d, dtype: object

In [0]:
df['issue_year']  = df['issue_d'].dt.year
df['issue_month'] = df['issue_d'].dt.month

In [0]:
df['issue_month'].sample(n=10).values

array([8, 8, 9, 9, 8, 7, 7, 8, 7, 8])

In [0]:
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'], 
                                        infer_datetime_format=True)

In [0]:
(df['issue_d'] - df['earliest_cr_line']).head()

0   3499 days
1   3530 days
2   3836 days
3   6727 days
4   5783 days
dtype: timedelta64[ns]

In [0]:
df['days_from_earliest_credit_to_issue'] = (
    df['issue_d'] - df['earliest_cr_line']).dt.days

In [0]:
df['days_from_earliest_credit_to_issue'].head().values

array([3499, 3530, 3836, 6727, 5783])

In [0]:
[col for col in df if col.endswith('_d')]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [0]:
for col in ['last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']:
    df[col] = pd.to_datetime(
        df[col],
        infer_datetime_format=True)

# ASSIGNMENT

- Replicate the lesson code.

- Convert the `term` column from string to integer.

- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,11200,11200,11200,36 months,7.84%,350.15,A,A4,UB APPLICATION SUPPORT ANALYST,8 years,MORTGAGE,68000.0,Not Verified,Sep-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,553xx,MN,14.23,0,Dec-2006,0,28.0,NaN,15,0,7776,17.6%,27,w,8051.75,8051.75,3871.160000,3871.16,3148.25,722.91,0.0,0.0,0.0,Sep-2019,350.15,Oct-2019,Sep-2019,0,32.0,1,Individual,NaN,NaN,NaN,0,0,265807,1,2,2,3,7.0,19949,94.0,1,2,2929,43.0,44100,2,0,3,6,17720.0,22720.0,18.0,0,0,100.0,133,3,3,3,3.0,NaN,1.0,NaN,0,2,6,3,5,8,12,16,6,15,0.0,0,0,3,92.6,0.0,0,0,307464,27725,27700,21199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,9600,9600,9600,36 months,7.84%,300.13,A,A4,Branch manager,3 years,MORTGAGE,90000.0,Not Verified,Sep-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,540xx,WI,25.59,1,Sep-2004,2,18.0,NaN,22,0,12468,10.8%,37,w,6646.45,6646.45,3593.200000,3593.20,2953.55,639.65,0.0,0.0,0.0,Sep-2019,300.13,Oct-2019,Sep-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,257106,3,6,2,4,8.0,34587,66.0,3,3,4458,28.0,115800,4,0,3,7,11687.0,89673.0,10.2,0,0,168.0,136,1,1,1,1.0,NaN,1.0,NaN,0,6,8,9,14,14,15,22,8,22,0.0,0,0,5,97.3,0.0,0,0,393694,47055,99900,52459,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,9000,9000,9000,36 months,15.02%,312.08,C,C3,buyer,10+ years,MORTGAGE,90000.0,Source Verified,Sep-2018,Current,n,NaN,NaN,other,Other,018xx,MA,10.81,0,Jul-2010,1,NaN,NaN,7,0,28814,65.5%,8,w,6435.02,6435.02,3729.940000,3729.94,2564.98,1164.96,0.0,0.0,0.0,Sep-2019,312.08,Oct-2019,Sep-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,266673,1,0,0,0,NaN,0,NaN,1,3,18239,66.0,44000,0,0,3,4,38096.0,13249.0,66.9,0,0,NaN,98,4,4,1,21.0,NaN,4.0,NaN,0,2,4,3,3,0,6,7,4,7,0.0,0,0,2,100.0,66.7,0,0,284200,28814,40000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,29000,29000,29000,36 months,10.08%,936.84,B,B1,Attorney,9 years,RENT,123000.0,Not Verified,Sep-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,191xx,PA,27.73,0,May-2006,0,NaN,NaN,12,0,50905,79%,26,w,20285.82,20285.82,11209.600000,11209.60,8714.18,2495.42,0.0,0.0,0.0,Sep-2019,936.84,Oct-2019,Sep-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,202928,0,2,0,0,25.0,152023,37.0,0,0,20610,72.0,64400,0,0,0,0,22548.0,3213.0,93.0,0,0,121.0,148,45,25,0,81.0,NaN,NaN,NaN,0,4,7,5,6,11,10,15,7,12,0.0,0,0,0,100.0,100.0,0,0,189145,202928,46100,124745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,15000,15000,15000,36 months,8.46%,473.24,A,A5,NaN,< 1 year,RENT,144898.0,Not Verified,Sep-2018,Fully Paid,n,NaN,NaN,debt_consolidation,Debt consolidation,077xx,NJ,11.71,0,Aug-1999,0,60.0,NaN,9,0,669,4.3%,38,w,0.00,0.00,15428.216764,15428.22,15000.00,428.22,0.0,0.0,0.0,Jan-2019,14022.60,NaN,Sep-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,65307,1,4,1,3,2.0,62691,63.0,0,1,200,53.0,15700,1,2,0,4,7256.0,7000.0,2.8,0,0,229.0,201,23,2,2,23.0,60.0,17.0,60.0,0,1,2,1,7,15,4,20,2,9,0.0,0,0,1,92.1,0.0,0,0,141168,65307,7200,120000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [0]:
df['term'].value_counts(dropna=False)

 36 months    89574
 60 months    38620
Name: term, dtype: int64

In [0]:
df['term'] = df['term'].str.strip(' months').astype(int)

In [0]:
# another way to do it
def term_converter(term):
  return int(term.strip(' months'))

df['term'] = df['term'].apply(term_converter)

In [0]:
df['term'].value_counts(dropna=False)

36    89574
60    38620
Name: term, dtype: int64

In [0]:
df['loan_status'].value_counts(dropna=False)

Current               97685
Fully Paid            21598
Charged Off            4890
Late (31-120 days)     2573
In Grace Period         966
Late (16-30 days)       479
Default                   3
Name: loan_status, dtype: int64

In [0]:
def great(loan_status):
    if loan_status == 'Current' or loan_status == 'Fully Paid':
        return 1
    else:
        return 0
    
df['loan_status_is_great'] = df['loan_status'].apply(great)

In [0]:
df['loan_status_is_great'].value_counts(dropna=False)

1    119283
0      8911
Name: loan_status_is_great, dtype: int64

In [0]:
df['last_pymnt_d'].values[0]

'Sep-2019'

In [0]:
df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)

In [0]:
df.dtypes

id                                                   float64
member_id                                            float64
loan_amnt                                              int64
funded_amnt                                            int64
funded_amnt_inv                                        int64
term                                                   int64
int_rate                                              object
installment                                          float64
grade                                                 object
sub_grade                                             object
emp_title                                             object
emp_length                                            object
home_ownership                                        object
annual_inc                                           float64
verification_status                                   object
issue_d                                               object
loan_status                                           object
pymnt_plan                                            object
url                                                  float64
desc                                                 float64
purpose                                               object
title                                                 object
zip_code                                              object
addr_state                                            object
dti                                                  float64
delinq_2yrs                                            int64
earliest_cr_line                                      object
inq_last_6mths                                         int64
mths_since_last_delinq                               float64
mths_since_last_record                               float64
open_acc                                               int64
pub_rec                                                int64
revol_bal                                              int64
revol_util                                            object
total_acc                                              int64
initial_list_status                                   object
out_prncp                                            float64
out_prncp_inv                                        float64
total_pymnt                                          float64
total_pymnt_inv                                      float64
total_rec_prncp                                      float64
total_rec_int                                        float64
total_rec_late_fee                                   float64
recoveries                                           float64
collection_recovery_fee                              float64
last_pymnt_d                                  datetime64[ns]
last_pymnt_amnt                                      float64
next_pymnt_d                                          object
last_credit_pull_d                                    object
collections_12_mths_ex_med                             int64
mths_since_last_major_derog                          float64
policy_code                                            int64
application_type                                      object
annual_inc_joint                                     float64
dti_joint                                            float64
verification_status_joint                             object
acc_now_delinq                                         int64
tot_coll_amt                                           int64
tot_cur_bal                                            int64
open_acc_6m                                            int64
open_act_il                                            int64
open_il_12m                                            int64
open_il_24m                                            int64
mths_since_rcnt_il                                   float64
total_bal_il                                           int64
il_util                                              float64
open_rv_12m                                            int64
open_rv_24m                                            int64
max_bal_bc                                             int64
all_util                                             float64
total_rev_hi_lim                                       int64
inq_fi                                                 int64
total_cu_tl                                            int64
inq_last_12m                                           int64
acc_open_past_24mths                                   int64
avg_cur_bal                                          float64
bc_open_to_buy                                       float64
bc_util                                              float64
chargeoff_within_12_mths                               int64
delinq_amnt                                            int64
mo_sin_old_il_acct                                   float64
mo_sin_old_rev_tl_op                                   int64
mo_sin_rcnt_rev_tl_op                                  int64
mo_sin_rcnt_tl                                         int64
mort_acc                                               int64
mths_since_recent_bc                                 float64
mths_since_recent_bc_dlq                             float64
mths_since_recent_inq                                float64
mths_since_recent_revol_delinq                       float64
num_accts_ever_120_pd                                  int64
num_actv_bc_tl                                         int64
num_actv_rev_tl                                        int64
num_bc_sats                                            int64
num_bc_tl                                              int64
num_il_tl                                              int64
num_op_rev_tl                                          int64
num_rev_accts                                          int64
num_rev_tl_bal_gt_0                                    int64
num_sats                                               int64
num_tl_120dpd_2m                                     float64
num_tl_30dpd                                           int64
num_tl_90g_dpd_24m                                     int64
num_tl_op_past_12m                                     int64
pct_tl_nvr_dlq                                       float64
percent_bc_gt_75                                     float64
pub_rec_bankruptcies                                   int64
tax_liens                                              int64
tot_hi_cred_lim                                        int64
total_bal_ex_mort                                      int64
total_bc_limit                                         int64
total_il_high_credit_limit                             int64
revol_bal_joint                                      float64
sec_app_earliest_cr_line                              object
sec_app_inq_last_6mths                               float64
sec_app_mort_acc                                     float64
sec_app_open_acc                                     float64
sec_app_revol_util                                   float64
sec_app_open_act_il                                  float64
sec_app_num_rev_accts                                float64
sec_app_chargeoff_within_12_mths                     float64
sec_app_collections_12_mths_ex_med                   float64
sec_app_mths_since_last_major_derog                  float64
hardship_flag                                         object
hardship_type                                         object
hardship_reason                                       object
hardship_status                                       object
deferral_term                                        float64
hardship_amount                                      float64
hardship_start_date                                   object
hardship_end_date                                     object
payment_plan_start_date                               object
hardship_length                                      float64
hardship_dpd                                         float64
hardship_loan_status                                  object
orig_projected_additional_accrued_interest           float64
hardship_payoff_balance_amount                       float64
hardship_last_payment_amount                         float64
debt_settlement_flag                                  object
debt_settlement_flag_date                             object
settlement_status                                     object
settlement_date                                       object
settlement_amount                                    float64
settlement_percentage                                float64
settlement_term                                      float64
loan_status_is_great                                   int64
dtype: object

In [0]:
df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year

In [0]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,loan_status_is_great,last_pymnt_d_month,last_pymnt_d_year
0,NaN,NaN,11200,11200,11200,36,7.84%,350.15,A,A4,UB APPLICATION SUPPORT ANALYST,8 years,MORTGAGE,68000.0,Not Verified,Sep-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,553xx,MN,14.23,0,Dec-2006,0,28.0,NaN,15,0,7776,17.6%,27,w,8051.75,8051.75,3871.160000,3871.16,3148.25,722.91,0.0,0.0,0.0,2019-09-01,350.15,Oct-2019,Sep-2019,0,32.0,1,Individual,NaN,NaN,NaN,0,0,265807,1,2,2,3,7.0,19949,94.0,1,2,2929,43.0,44100,2,0,3,6,17720.0,22720.0,18.0,0,0,100.0,133,3,3,3,3.0,NaN,1.0,NaN,0,2,6,3,5,8,12,16,6,15,0.0,0,0,3,92.6,0.0,0,0,307464,27725,27700,21199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,9.0,2019.0
1,NaN,NaN,9600,9600,9600,36,7.84%,300.13,A,A4,Branch manager,3 years,MORTGAGE,90000.0,Not Verified,Sep-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,540xx,WI,25.59,1,Sep-2004,2,18.0,NaN,22,0,12468,10.8%,37,w,6646.45,6646.45,3593.200000,3593.20,2953.55,639.65,0.0,0.0,0.0,2019-09-01,300.13,Oct-2019,Sep-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,257106,3,6,2,4,8.0,34587,66.0,3,3,4458,28.0,115800,4,0,3,7,11687.0,89673.0,10.2,0,0,168.0,136,1,1,1,1.0,NaN,1.0,NaN,0,6,8,9,14,14,15,22,8,22,0.0,0,0,5,97.3,0.0,0,0,393694,47055,99900,52459,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,9.0,2019.0
2,NaN,NaN,9000,9000,9000,36,15.02%,312.08,C,C3,buyer,10+ years,MORTGAGE,90000.0,Source Verified,Sep-2018,Current,n,NaN,NaN,other,Other,018xx,MA,10.81,0,Jul-2010,1,NaN,NaN,7,0,28814,65.5%,8,w,6435.02,6435.02,3729.940000,3729.94,2564.98,1164.96,0.0,0.0,0.0,2019-09-01,312.08,Oct-2019,Sep-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,266673,1,0,0,0,NaN,0,NaN,1,3,18239,66.0,44000,0,0,3,4,38096.0,13249.0,66.9,0,0,NaN,98,4,4,1,21.0,NaN,4.0,NaN,0,2,4,3,3,0,6,7,4,7,0.0,0,0,2,100.0,66.7,0,0,284200,28814,40000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,9.0,2019.0
3,NaN,NaN,29000,29000,29000,36,10.08%,936.84,B,B1,Attorney,9 years,RENT,123000.0,Not Verified,Sep-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,191xx,PA,27.73,0,May-2006,0,NaN,NaN,12,0,50905,79%,26,w,20285.82,20285.82,11209.600000,11209.60,8714.18,2495.42,0.0,0.0,0.0,2019-09-01,936.84,Oct-2019,Sep-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,202928,0,2,0,0,25.0,152023,37.0,0,0,20610,72.0,64400,0,0,0,0,22548.0,3213.0,93.0,0,0,121.0,148,45,25,0,81.0,NaN,NaN,NaN,0,4,7,5,6,11,10,15,7,12,0.0,0,0,0,100.0,100.0,0,0,189145,202928,46100,124745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,9.0,2019.0
4,NaN,NaN,15000,15000,15000,36,8.46%,473.24,A,A5,NaN,< 1 year,RENT,144898.0,Not Verified,Sep-2018,Fully Paid,n,NaN,NaN,debt_consolidation,Debt consolidation,077xx,NJ,11.71,0,Aug-1999,0,60.0,NaN,9,0,669,4.3%,38,w,0.00,0.00,15428.216764,15428.22,15000.00,428.22,0.0,0.0,0.0,2019-01-01,14022.60,NaN,Sep-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,65307,1,4,1,3,2.0,62691,63.0,0,1,200,53.0,15700,1,2,0,4,7256.0,7000.0,2.8,0,0,229.0,201,23,2,2,23.0,60.0,17.0,60.0,0,1,2,1,7,15,4,20,2,9,0.0,0,0,1,92.1,0.0,0,0,141168,65307,7200,120000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,1.0,2019.0

In [0]:
df['last_pymnt_d_month'].values[0], df['last_pymnt_d_year'].values[0]

(9.0, 2019.0)

# STRETCH OPTIONS

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

In [0]:
df['revol_util'].head()

0    69.1%
1    48.5%
2    70.1%
3    34.5%
4     0.3%
Name: revol_util, dtype: object

In [0]:
df['revol_util'] = df['revol_util'].fillna('0').str.strip('%').astype(float)

In [0]:
df['revol_util'].head()

0    69.1
1    48.5
2    70.1
3    34.5
4     0.3
Name: revol_util, dtype: float64

In [0]:
df['emp_title'].nunique()

35265

In [0]:
top20_titles = df['emp_title'].value_counts().head(20).index

In [0]:
def combine_titles(title):
    if title not in top20_titles:
        return 'Other'
    else:
        return title
    
examples = ['Unknown', 'Teacher', 'Manager', 'Data Scientist', 'Web Developer']

for example in examples:
    print(combine_titles(example))

Unknown
Teacher
Manager
Other
Other

In [0]:
df['emp_title'] = df['emp_title'].apply(combine_titles)

In [0]:
df['emp_title'].nunique()

21

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01